SSLCertificateFile /etc/letsencrypt/live/{{ base_hostname }}/fullchain.pem
SSLCertificateKeyFile /etc/letsencrypt/live/{{ base_hostname }}/privkey.pem
Include /etc/letsencrypt/options-ssl-apache.conf

