<VirtualHost *:80>
    Include /etc/apache2/site-snippets/assets.conf
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost *:443>
    Include /etc/apache2/site-snippets/assets.conf
    Include /etc/apache2/site-snippets/ssl.conf
</VirtualHost>
</IfModule>

