<VirtualHost *:80>
    Include /etc/apache2/site-snippets/central-legacy.conf
</VirtualHost>

<VirtualHost *:80>
    Include /etc/apache2/site-snippets/central.conf
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost *:443>
    Include /etc/apache2/site-snippets/central-legacy.conf
    Include /etc/apache2/site-snippets/ssl.conf
</VirtualHost>

<VirtualHost *:443>
    Include /etc/apache2/site-snippets/central.conf
    Include /etc/apache2/site-snippets/ssl.conf
</VirtualHost>
</IfModule>

