<VirtualHost *:80>
    Include /etc/apache2/site-snippets/central-legacy.conf
</VirtualHost>

<VirtualHost *:80>
    Include /etc/apache2/site-snippets/central.conf
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost *:443>
    Include /etc/apache2/site-snippets/central-legacy.conf

    SSLCertificateFile /etc/letsencrypt/live/{{ base_hostname }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ base_hostname }}/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf
</VirtualHost>

<VirtualHost *:443>
    Include /etc/apache2/site-snippets/central.conf

    SSLCertificateFile /etc/letsencrypt/live/{{ base_hostname }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ base_hostname }}/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf
</VirtualHost>
</IfModule>