<VirtualHost 127.0.0.1:8080>
    Include /etc/apache2/site-snippets/central-legacy.conf
</VirtualHost>

<VirtualHost 127.0.0.1:8080>
    Include /etc/apache2/site-snippets/central.conf
</VirtualHost>
