<VirtualHost *:80>
    Include /etc/apache2/site-snippets/forums.conf

    <IfModule mod_ssl.c>
    <IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteCond %{SERVER_NAME} =forums.{{ base_hostname }}
        RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
    </IfModule>
    </IfModule>
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost *:443>
    Include /etc/apache2/snippets/forums.conf
    Include /etc/apache2/snippets/hsts.conf
    Include /etc/apache2/snippets/ssl.conf
</VirtualHost>
</IfModule>

