<VirtualHost 127.0.0.1:8080>
    Include /etc/apache2/site-snippets/forums.conf

    <IfModule mod_ssl.c>
    <IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteCond %{SERVER_NAME} =forums.{{ base_hostname }}
        RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
    </IfModule>
    </IfModule>
</VirtualHost>
