<?php
  return [
    'legacy_host' => 'my.{{ base_hostname }}',
    'enable_rest_api' => {% if central.enable_rest_api is defined and not central.enable_rest_api %}false{% else %}true{% endif %},
    'phpbb' => [
      'root_path' => '/var/www/forums/',
      'database' => 'forums',
    ],
    'database' => [
      'database' => 'central',
      'username' => 'central',
      'password' => '{{ mariadb_central_password }}'
    ]
  ];

