<?php
return [
  'site' => [
    'title' => 'Texture Hosting',
    'base_url' => 'http{% if tls.enabled %}s{% endif %}://images.{{ base_hostname }}',
    'takedown_address' => '{{ asset_manager.site.takedown_address }}'
  ],
  'path' => [
    'files' => '/var/www/assets/public'
  ],
  'auth' => [
    'list_url' => 'http{% if tls.enabled %}s{% endif %}://my.bzflag.org/db/',
    'weblogin_url' => 'http{% if tls.enabled %}s{% endif %}://my.bzflag.org/weblogin.php?url=',
    'admin_group' => '{{ asset_manager.auth.admin_group }}'
  ],
  'asset' => [
    'upload' => [
      'types' => [
        'image/png' => 'png'
      ]
    ]
  ],
  'email' => [
    'from_address' => '{{ smtp.from_address_noreply }}',
    'notify_addresses' => [
{% for address in asset_manager.email.notify_addresses %}
      '{{ address }}'{% if not loop.last %},{% endif %}

{% endfor %}
    ]
  ]
];
